name: MLflow CI Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # =========================
      # 1. Checkout Repository
      # =========================
      - name: Checkout repository
        uses: actions/checkout@v3

      # =========================
      # 2. Setup Python
      # =========================
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # =========================
      # 3. Install MLflow
      # =========================
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==3.7.0

      # =========================
      # 4. Run MLflow Project
      # =========================
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # =========================
      # 5. Upload MLflow Artifacts
      # =========================
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/
