name: MLflow CI Retraining

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install dependencies
      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==3.7.0 scikit-learn pandas numpy

      # 4. Run MLflow Project (Retraining)
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # 5. Upload MLflow artifacts
      - name: Upload MLflow Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: |
            mlruns
            mlflow.db
