name: CI/CD MLflow

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  mlflow-ci:
    runs-on: ubuntu-latest

    env:
      MLFLOW_TRACKING_URI: sqlite:///mlflow.db
      MLFLOW_ARTIFACT_ROOT: ./mlruns

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install mlflow==3.7.0
        pip install pandas numpy scikit-learn cloudpickle pyarrow psutil scipy

    - name: Run MLflow Project
      run: |
        mlflow run . --env-manager=local

    - name: Get latest run_id
      id: get_run
      run: |
        EXP_ID=$(mlflow experiments list | awk -F'  +' '/Sales Transaction - Linear Regression/ {print $1}')
        RUN_ID=$(mlflow runs list --experiment-id $EXP_ID --max-results 1 | awk 'NR==2 {print $1}')
        echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT

    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns

    - name: Build MLflow Docker Image
      run: |
        mlflow models build-docker \
          --model-uri "runs:/${{ steps.get_run.outputs.run_id }}/model" \
          --name mlflow-sales-model

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Tag Docker Image
      run: |
        docker tag mlflow-sales-model \
          ${{ secrets.DOCKERHUB_USER }}/mlflow-sales-model:latest

    - name: Push Docker Image
      run: |
        docker push \
          ${{ secrets.DOCKERHUB_USER }}/mlflow-sales-model:latest
